DEFAULT_OPTIONS

LEVEL               THREAD
UNITS               NANOSEC
LOOK_BACK           100
SPEED               1
FLAG_ICONS          ENABLED
NUM_OF_STATE_COLORS 1000
YMAX_SCALE          37


DEFAULT_SEMANTIC

THREAD_FUNC          State As Is


STATES
0    Idle
1    Running
2    Not created
3    Waiting a message
4    Blocking Send
5    Synchronization
6    Test/Probe
7    Scheduling and Fork/Join
8    Wait/WaitAll
9    Blocked
10    Immediate Send
11    Immediate Receive
12    I/O
13    Group Communication
14    Tracing Disabled
15    Others
16    Send Receive
17    Memory transfer


STATES_COLOR
0    {117,195,255}
1    {0,0,255}
2    {255,255,255}
3    {255,0,0}
4    {255,0,174}
5    {179,0,0}
6    {0,255,0}
7    {255,255,0}
8    {235,0,0}
9    {0,162,0}
10    {255,0,255}
11    {100,100,177}
12    {172,174,41}
13    {255,144,26}
14    {2,255,177}
15    {192,224,0}
16    {66,66,66}
17    {255,0,96}


EVENT_TYPE
9   50000001    MPI Point-to-point
VALUES
4   MPI_Irecv
3   MPI_Isend
6   MPI_Waitall
0   Outside MPI


EVENT_TYPE
9   50000002    MPI Collective Comm
VALUES
10   MPI_Allreduce
8   MPI_Barrier
7   MPI_Bcast
0   Outside MPI


EVENT_TYPE
9   50000003    MPI Other
VALUES
19   MPI_Comm_rank
20   MPI_Comm_size
32   MPI_Finalize
31   MPI_Init
0   Outside MPI


EVENT_TYPE
1    50100001    Send Size in MPI Global OP
1    50100002    Recv Size in MPI Global OP
1    50100003    Root in MPI Global OP
1    50100004    Communicator in MPI Global OP


EVENT_TYPE
6    40000033    Executing CPU


EVENT_TYPE
6    40000001    Application
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000003    Flushing Traces
VALUES
0      End
1      Begin


EVENT_TYPE
6    40000036    Process IDentifier
6    40000037    Parent Process IDentifier
6    40000038    fork() depth


EVENT_TYPE
7  42000050 (PAPI_TOT_INS) Instr completed
7  42000059 (PAPI_TOT_CYC) Total cycles
7  42001041 (RESOURCE_STALLS:LOAD) Resource related stall cycles, masks:Load buffer stall cycles
7  42001042 (RESOURCE_STALLS:STORE) Resource related stall cycles, masks:Store buffer stall cycles
7  42001043 (RESOURCE_STALLS:ROB_FULL) Resource related stall cycles, masks:ROB full stall cycles
7  42001044 (RESOURCE_STALLS:RS_FULL) Resource related stall cycles, masks:Reservation Station full stall cycles
7  42000053 (PAPI_LD_INS) Loads
7  42000054 (PAPI_SR_INS) Stores
7  42000106 (PAPI_VEC_DP) DP Vector/SIMD instr
7  42000105 (PAPI_VEC_SP) SP Vector/SIMD instr
7  42000052 (PAPI_FP_INS) FP instructions
7  42000046 (PAPI_BR_MSP) Cond br mspredictd
7  42000042 (PAPI_BR_UCN) Uncond branch
7  42000043 (PAPI_BR_CN) Cond branch
7  42001040 (RESOURCE_STALLS) Resource related stall cycles
7  42000000 (PAPI_L1_DCM) L1D cache misses
7  42000002 (PAPI_L2_DCM) L2D cache misses
7  42000008 (PAPI_L3_TCM) L3 cache misses
7  41999999 Active hardware counter set


GRADIENT_COLOR
0    {0,255,2}
1    {0,244,13}
2    {0,232,25}
3    {0,220,37}
4    {0,209,48}
5    {0,197,60}
6    {0,185,72}
7    {0,173,84}
8    {0,162,95}
9    {0,150,107}
10    {0,138,119}
11    {0,127,130}
12    {0,115,142}
13    {0,103,154}
14    {0,91,166}


GRADIENT_NAMES
0    Gradient 0
1    Grad. 1/MPI Events
2    Grad. 2/OMP Events
3    Grad. 3/OMP locks
4    Grad. 4/User func
5    Grad. 5/User Events
6    Grad. 6/General Events
7    Grad. 7/Hardware Counters
8    Gradient 8
9    Gradient 9
10    Gradient 10
11    Gradient 11
12    Gradient 12
13    Gradient 13
14    Gradient 14


EVENT_TYPE
0    70000001    Caller at level 1
0    70000002    Caller at level 2
0    70000003    Caller at level 3
VALUES
0   End
1   Unresolved
2   _NOT_Found
3   init_communicate
4   cgpop
5   get_num_procs
6   init_domain_blocks
7   broadcast_scalar_char
8   global_maxval_scalar_int
9   init_domain_distribution
10   broadcast_scalar_int
11   init_solvers
12   broadcast_scalar_log
13   initdof
14   global_minval_scalar_int
15   global_sum_scalar_int
16   mpi2s_gshalo_init
17   mpi2s_gshalo_update_2d_int
18   mpi2s_gshalo_update_2d_dbl
19   update_halo
20   esolver
21   global_sum_scalar_dbl
22   global_sum_vector_dbl
23   checkanswers
24   global_maxval_scalar_dbl
25   timer_print
26   timer_print_all
27   exit_message_environment


EVENT_TYPE
0    80000001    Caller line at level 1
0    80000002    Caller line at level 2
0    80000003    Caller line at level 3
VALUES
0   End
1   0 (Unresolved)
2   0 (_NOT_Found)
3   129 (broadcast.f90) [cgpop.linux_icc_mt.180x120]
4   164 (broadcast.f90) [cgpop.linux_icc_mt.180x120]
5   200 (broadcast.f90) [cgpop.linux_icc_mt.180x120]
6   52 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
7   53 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
8   63 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
9   64 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
10   80 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
11   81 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
12   85 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
13   91 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
14   98 (cgpop.f90) [cgpop.linux_icc_mt.180x120]
15   50 (check.f90) [cgpop.linux_icc_mt.180x120]
16   69 (communicate.f90) [cgpop.linux_icc_mt.180x120]
17   96 (communicate.f90) [cgpop.linux_icc_mt.180x120]
18   113 (communicate.f90) [cgpop.linux_icc_mt.180x120]
19   208 (linear.f90) [cgpop.linux_icc_mt.180x120]
20   365 (linear.f90) [cgpop.linux_icc_mt.180x120]
21   370 (linear.f90) [cgpop.linux_icc_mt.180x120]
22   371 (linear.f90) [cgpop.linux_icc_mt.180x120]
23   372 (linear.f90) [cgpop.linux_icc_mt.180x120]
24   379 (linear.f90) [cgpop.linux_icc_mt.180x120]
25   384 (linear.f90) [cgpop.linux_icc_mt.180x120]
26   397 (linear.f90) [cgpop.linux_icc_mt.180x120]
27   407 (linear.f90) [cgpop.linux_icc_mt.180x120]
28   413 (linear.f90) [cgpop.linux_icc_mt.180x120]
29   513 (linear.f90) [cgpop.linux_icc_mt.180x120]
30   79 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
31   94 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
32   97 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
33   98 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
34   162 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
35   173 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
36   177 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
37   179 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
38   249 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
39   250 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
40   291 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
41   345 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
42   355 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
43   364 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
44   365 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
45   367 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
46   465 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
47   475 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
48   483 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
49   487 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
50   488 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
51   516 (mpi2s_gshalo.f90) [cgpop.linux_icc_mt.180x120]
52   74 (reductions.f90) [cgpop.linux_icc_mt.180x120]
53   95 (reductions.f90) [cgpop.linux_icc_mt.180x120]
54   182 (reductions.f90) [cgpop.linux_icc_mt.180x120]
55   203 (reductions.f90) [cgpop.linux_icc_mt.180x120]
56   204 (reductions.f90) [cgpop.linux_icc_mt.180x120]
57   205 (reductions.f90) [cgpop.linux_icc_mt.180x120]
58   262 (reductions.f90) [cgpop.linux_icc_mt.180x120]
59   263 (reductions.f90) [cgpop.linux_icc_mt.180x120]
60   264 (reductions.f90) [cgpop.linux_icc_mt.180x120]
61   295 (reductions.f90) [cgpop.linux_icc_mt.180x120]
62   296 (reductions.f90) [cgpop.linux_icc_mt.180x120]
63   297 (reductions.f90) [cgpop.linux_icc_mt.180x120]
64   128 (simple_domain.f90) [cgpop.linux_icc_mt.180x120]
65   167 (simple_domain.f90) [cgpop.linux_icc_mt.180x120]
66   313 (simple_domain.f90) [cgpop.linux_icc_mt.180x120]
67   105 (solvers.f90) [cgpop.linux_icc_mt.180x120]
68   111 (solvers.f90) [cgpop.linux_icc_mt.180x120]
69   123 (solvers.f90) [cgpop.linux_icc_mt.180x120]
70   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
71   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
72   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
73   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
74   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
75   131 (solvers.f90) [cgpop.linux_icc_mt.180x120]
76   216 (solvers.f90) [cgpop.linux_icc_mt.180x120]
77   253 (solvers.f90) [cgpop.linux_icc_mt.180x120]
78   254 (solvers.f90) [cgpop.linux_icc_mt.180x120]
79   255 (solvers.f90) [cgpop.linux_icc_mt.180x120]
80   256 (solvers.f90) [cgpop.linux_icc_mt.180x120]
81   308 (solvers.f90) [cgpop.linux_icc_mt.180x120]
82   630 (timers.f90) [cgpop.linux_icc_mt.180x120]
83   743 (timers.f90) [cgpop.linux_icc_mt.180x120]


EVENT_TYPE
9    40000018    Tracing mode:
VALUES
1      Detailed
2      CPU Bursts


